<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin:0%;
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            
        }
    </style>
<body>
    <div>
        <img src="../static/h1.gif">
    </div>
    <div style="background-image: linear-gradient(to left, rgba(213, 3, 49, 0.99), rgba(141, 196, 168, 0.725),rgba(166, 231, 206, 0.725),rgba(233, 14, 14, 0.725));
            height:40vh;">
        <div  >
            <div style="font: italic;color: rgb(17, 17, 18);font-size: x-large;"><h1><b> 💗 Welcome to Ticket Show App 💗 </b></h1></div>
            <div style="display: inline-flex" >
                &emsp; &emsp; &emsp;&emsp; &emsp; 
                <h2> Login as user</h2>&emsp; &emsp; &emsp;
                <h2> Signup as user</h2>&emsp; &emsp; &emsp;
                <h2> Login as admin</h2>&emsp; &emsp; &emsp;
                <h2> Signup as admin</h2>
    
            </div>
    
            <div>
                <a href="userlogin"><img src="../static/user_login.png" alt="user_login" height="72" width="72"></a>
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp; &emsp;
                
                <a href="usersignup"><img src="../static/signup2.png" alt="user_signup" height="70" width="70"></a>
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 
                <a href="adminlogin"><img src="../static/admin_login .png" alt="Admin_login" height="70" width="70"></a> 
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                <a href="adminsignup"><img src="../static/signup2.png" alt="Admin_signup" height="70" width="70"></a> 
                
    
            </div>

        </div>
    </div>
    <div style="height:0vh;margin-bottom: 0%">
        <img src="../static/footer.png" width=100% height=290> 
    </div>        
</body>
</html>