<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/sstyle.css">
</head>
<body>
    {% include 'message.html' %}
    <div id ="container1" style="margin-top: auto;">
      <div id = "div1">
          <I><b>Welcome dear admin "{{ a_name }}"🫡😶‍🌫️🙃</b></I>
      </div>
      <div id = "div2">
          <ul class="horizontal-list nav-menu">
              <li>
              <a href="/admin_dashboard/{{ a_name }}"><b><i>profile &ensp;</i></b></a>
              </li>
              
              <li>
              <a href="/logout"><b><i>logout</i></b></a>
              </li>
          </ul>
      </div>
    </div>
  

    <div class="container2" style="background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(248, 49, 10, 0.5));margin-top: 4%;">
      <div >
        <div>
          <span><img src="../static/v_s_bar.png" height="500vh" width="700vh"></span>
        </div>
      </div>
      <div>
        <div style="block-size: 80px;">
          <span><img src="../static/v_b_bar.png"height="500vh" width="700vh"></span>
        </div>
      </div>

      
    </div>

</body>
</html>
